# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# CI/CD and configs
/.github/       @gridai/platform

# Specific Docs
/index.md                                   @essiequoi
/platform/best-practices.md                 @oojo12 @sunitaprakash
/platform/tips-and-tricks.md                @oojo12 @sunitaprakash


# Docs Sections
/changelog                                  @essiequoi
/cli                                        @adam-grid @pritamsoni-hsr
/getting-started                            @essiequoi @oojo12
/examples                                   @essiequoi @oojo12
/features/runs                              @nmiculinic
/features/sessions                          @filintod
/features/datastores                        @rlizzo
/platform/billing                           @EricChea
/platform/custom-cloud-credentials          @dmitsf @nmiculinic
/support                                    @oojo12

/.github/CODEOWNERS                         @essiequoi
